<p>template-driven-form works!</p>
<div>
    <h2>Template Driven Form</h2>
    <h2>User Registaration Form</h2>
    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <table>
            <tbody>
                <tr>
                    <td>Name :</td>
                    <td>
                        <input type="text"
                         placeholder="Enter Name here" 
                         #nameField="ngModel"
                         ngModel name="name" 
                         required/>
                         <div>
                           is field valid :{{ nameField.valid }}
                         </div>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <input type="text" placeholder="Enter Email here" ngModel name="Email" required/>
                    </td>
                </tr>
                <tr>
                    <td>About :</td>
                    <td>
                        <textarea name="" id="" cols="21" rows="4" placeholder="Enter Here"
                        ngModel name="About" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Gender :</td>
                    <td>
                        <input type="radio" ngModel name="Gender" />Male
                        <input type="radio" ngModel name="Gender" />Female
                    </td>
                </tr>
                <tr>
                    <td>City :</td>
                    <td>
                        <select  ngModel name="City" >
                            <option value="LuckNow">LuckNow</option>
                            <option value="Delhi">Dlehi</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Prayagraj">Prayagraj</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <h2>Form Details</h2>
            <p>{{userForm.value | json}}</p>
            <p>valid:{{userForm.valid}}</p>
            <p>Touched : {{userForm.touched}}</p>
            <p>Dirty :{{userForm.dirty}}</p>
        </div>
        <div *ngIf="userForm.valid"> Form valid hai!!!</div>
    </form>
</div>