<div>
    <h2>Get all posts</h2>
    <button (click)="getAllPosts()">Get all posts</button>
    <table>
        <thead>
            <tr>
                <th> ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>UserId</th>
            </tr>
            <tr *ngFor="let p of posts">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.body}}</td>
                <td>{{p.userId}}</td>
            </tr>  
        </thead>

    </table>
    <button (click)="getPost()">Get post</button>
    <h1> loading is {{loading}}</h1>
    <div *ngIf="loading">
        <h2>Loding please wait</h2>
    </div>

</div>