.primary{
    background-color: rgb(53,188,255);
    width: 80%;
    height: 100px;
    margin:auto;
    transition: all 250ms linear;
}

.fontStyle{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
}