<p>product works!</p>
<ul>
    <li><a [routerLink]="['./detail']" >Detail</a></li>
    <li><a [routerLink]="['./spec']" >Spec</a></li>
    <li><a [routerLink]="['./price']">Price</a></li>
</ul>
<div>
    <p>Product Component</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit magnam voluptatibus fuga doloremque vitae eveniet, quas quasi. Distinctio, commodi, vel ipsam harum natus voluptatibus fugiat repellat, tenetur illum soluta quod!</p>
</div>

<router-outlet></router-outlet>

<p> footer here</p>